body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333b4c;
  color: white;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}


#addBtn {
  background-color: #4caf50;
}

#addBtn:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 350px;
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  gap: 5px;
}

.done-btn {
  background-color: #4caf50;
}

.done-btn:hover {
  background-color: #3d8b41;
}

.delete-btn {
  background-color: #f44336;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.completed {
  text-decoration: line-through;
  color: #888;
}
